# 0. Importing Libraries and Datasets

## 0.1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
import xlrd
import datetime
import warnings

from IPython.display import HTML

In [2]:
display(HTML("<style>.container {width:80% !important; }</style>"))
%matplotlib inline
warnings.filterwarnings('ignore')


def read_date(date):
    return xlrd.xldate.xldate_as_datetime(date, 0)

## 0.2. Loading Datasets

In [3]:
os.listdir(path='data')

['QVI_purchase_behaviour.csv', 'QVI_transaction_data.xlsx']

In [4]:
ph = pd.read_csv('data/QVI_purchase_behaviour.csv') #Purchase Behaviour
td = pd.read_excel('data/QVI_transaction_data.xlsx') #Transaction Data

# 1. Data Understanding

In [5]:
ph.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [6]:
td.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,43390,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,43599,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,43605,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,43329,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,43330,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

## 1.1. Datasets size

In [7]:
print('Purchase Behaviour dataset size:\nRows:{}, Cols:{}\n'.format(ph.shape[0], ph.shape[1]))
print('Trasaction dataset size:\nRows:{}, Cols:{}'.format(td.shape[0], td.shape[1]))

Purchase Behaviour dataset size:
Rows:72637, Cols:3

Trasaction dataset size:
Rows:264836, Cols:8

## 1.2. Checking missing values

In [8]:
print('Quantitity of missing values in the Purchase Behaviour Dataset: {}'.format(ph.isnull().sum()[1]))
print('Quantitity of missing values in the Transaction Dataset: {}'.format(td.isnull().sum()[1]))

Quantitity of missing values in the Purchase Behaviour Dataset: 0
Quantitity of missing values in the Transaction Dataset: 0

## 1.3. Merging the datasets (Full Dataset)

In [9]:
df1 = ph.merge(td, how='inner', on='LYLTY_CARD_NBR')

In [10]:
df1 = df1[['DATE', 'STORE_NBR', 'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY', 'TOT_SALES', 'LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER']]

In [11]:
df1.head()

,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER
0,43390,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,1000,YOUNG SINGLES/COUPLES,Premium
1,43359,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,1002,YOUNG SINGLES/COUPLES,Mainstream
2,43531,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,1003,YOUNG FAMILIES,Budget
3,43532,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,1003,YOUNG FAMILIES,Budget
4,43406,1,5,96,WW Original Stacked Chips 160g,1,1.9,1004,OLDER SINGLES/COUPLES,Mainstream

### 1.3.1. Checking the full dataset size

In [12]:
print('Full dataset size:\nRows:{}\nCols:{}'.format(df1.shape[0], df1.shape[1]))

Full dataset size:
Rows:264836
Cols:10

### 1.3.2. Checking missing values in the full dataset

In [13]:
print('Quantity of missing values in the full dataset: {}'.format(df1.isnull().sum()[1]))

Quantity of missing values in the full dataset: 0

### 1.3.3. Checking the dtypes

In [14]:
df1.dtypes

DATE                  int64
STORE_NBR             int64
TXN_ID                int64
PROD_NBR              int64
PROD_NAME            object
PROD_QTY              int64
TOT_SALES           float64
LYLTY_CARD_NBR        int64
LIFESTAGE            object
PREMIUM_CUSTOMER     object
dtype: object

### 1.3.4. Changing the types of the datasets

In [15]:
df1.head()

,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER
0,43390,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,1000,YOUNG SINGLES/COUPLES,Premium
1,43359,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,1002,YOUNG SINGLES/COUPLES,Mainstream
2,43531,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,1003,YOUNG FAMILIES,Budget
3,43532,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,1003,YOUNG FAMILIES,Budget
4,43406,1,5,96,WW Original Stacked Chips 160g,1,1.9,1004,OLDER SINGLES/COUPLES,Mainstream

In [16]:
df1['DATE'] = pd.to_datetime(df1['DATE'].apply(read_date), errors='coerce')

In [17]:
df1.dtypes

DATE                datetime64[ns]
STORE_NBR                    int64
TXN_ID                       int64
PROD_NBR                     int64
PROD_NAME                   object
PROD_QTY                     int64
TOT_SALES                  float64
LYLTY_CARD_NBR               int64
LIFESTAGE                   object
PREMIUM_CUSTOMER            object
dtype: object

In [18]:
df1.head()

,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER
0,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,1000,YOUNG SINGLES/COUPLES,Premium
1,2018-09-16,1,2,58,Red Rock Deli Chikn&Garlic Aioli 150g,1,2.7,1002,YOUNG SINGLES/COUPLES,Mainstream
2,2019-03-07,1,3,52,Grain Waves Sour Cream&Chives 210G,1,3.6,1003,YOUNG FAMILIES,Budget
3,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,1003,YOUNG FAMILIES,Budget
4,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,1004,OLDER SINGLES/COUPLES,Mainstream

# 2. Feature Engineering

In [19]:
df2 = df1.copy()

In [20]:
#Year
df2['YEAR'] = df2['DATE'].dt.year

#Month
df2['MONTH'] = df2['DATE'].dt.month

#Day of year
df2['DAY-OF-YEAR'] = df2['DATE'].dt.weekofyear

#Day
df2['DAY'] = df2['DATE'].dt.day

#Day of Week
df2['DAY-OF-WEEK'] = df2['DATE'].dt.day_name()

#Month/Year
df2['MONTH-YEAR'] = df2['DATE'].dt.strftime('%m-%Y')

#Product that are CHIPS
df2['PROD_TYPE'] = df2['PROD_NAME'].apply(lambda x: 'Chips' if 'Chips' in x else 'Chips' if 'Chip' in x else 'Chips' if 'Chps' in x else 'Other')

#Product Weight in grams
df2['PROD_WEIGHT'] = df2['PROD_NAME'].str[-4:]

df2['PROD_UNIT_PRICE'] = df2['TOT_SALES'] / df2['PROD_QTY']

#Filtering the dataset with data chips
df2 = df2[df2['PROD_TYPE'] == 'Chips']

In [21]:
df2.shape

(84150, 19)

In [22]:
df2.describe()

,STORE_NBR,TXN_ID,PROD_NBR,PROD_QTY,TOT_SALES,LYLTY_CARD_NBR,YEAR,MONTH,DAY-OF-YEAR,DAY,PROD_UNIT_PRICE
count,84150.000000,84150.000000,84150.000000,84150.000000,84150.000000,8.415000e+04,84150.000000,84150.000000,84150.000000,84150.000000,84150.000000
mean,135.427166,135506.277481,51.688770,1.905585,7.082680,1.359021e+05,2018.494272,6.542935,26.575413,15.678313,3.712542
std,76.808415,78024.245101,33.893817,0.341417,2.269117,8.065460e+04,0.499970,3.448975,14.986327,8.778587,0.967559
min,1.000000,1.000000,1.000000,1.000000,1.900000,1.000000e+03,2018.000000,1.000000,1.000000,1.000000,1.320000
25%,70.000000,68057.250000,22.000000,2.000000,6.000000,7.010000e+04,2018.000000,4.000000,14.000000,8.000000,3.000000
50%,131.000000,135616.000000,44.000000,2.000000,6.600000,1.312865e+05,2018.000000,7.000000,27.000000,16.000000,3.800000
75%,203.000000,203265.500000,79.000000,2.000000,8.800000,2.032330e+05,2019.000000,10.000000,40.000000,23.000000,4.400000
max,272.000000,270209.000000,111.000000,5.000000,29.500000,2.373711e+06,2019.000000,12.000000,52.000000,31.000000,5.900000

# 3. Exploration Data Analysis

In [23]:
df3 = df2.copy()

In [24]:
df3.head()

,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,YEAR,MONTH,DAY-OF-YEAR,DAY,DAY-OF-WEEK,MONTH-YEAR,PROD_TYPE,PROD_WEIGHT,PROD_UNIT_PRICE
0,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,1000,YOUNG SINGLES/COUPLES,Premium,2018,10,42,17,Wednesday,10-2018,Chips,175g,3.0
3,2019-03-08,1,4,106,Natural ChipCo Hony Soy Chckn175g,1,3.0,1003,YOUNG FAMILIES,Budget,2019,3,10,8,Friday,03-2019,Chips,175g,3.0
4,2018-11-02,1,5,96,WW Original Stacked Chips 160g,1,1.9,1004,OLDER SINGLES/COUPLES,Mainstream,2018,11,44,2,Friday,11-2018,Chips,160g,1.9
14,2018-12-19,1,15,1,Smiths Crinkle Cut Chips Barbecue 170g,1,2.9,1011,OLDER SINGLES/COUPLES,Mainstream,2018,12,51,19,Wednesday,12-2018,Chips,170g,2.9
17,2019-03-04,1,18,93,Doritos Corn Chip Southern Chicken 150g,1,3.9,1013,RETIREES,Budget,2019,3,10,4,Monday,03-2019,Chips,150g,3.9

In [28]:
df3[['PROD_WEIGHT', 'TOT_SALES']].groupby('PROD_WEIGHT').sum().sort_values(ascending=False, by='TOT_SALES')

             TOT_SALES
PROD_WEIGHT
175g          183172.3
150g          132042.1
170g          112396.4
110g           70569.8
380g           36367.6
330g           34804.2
200g           16007.5
160g           10647.6

In [29]:
#teste